body {
	background: #eee;
	font: 62.5% helvetica, arial, sans-serif;
	margin:0;
	padding:0;
}
header, footer, section {
	background:#fff;
	border:solid 1px #666;
	border-radius: 12px;
	display: block;
	height:480px;
	width:760px;
}

h1 {
	font-size:8em;
	margin:0 auto;
}

p {
	font-size:4em;
	margin:0 auto;
}

.step {
	opacity:0.2;
}

.step.active {
	opacity: 1;
}

.step-overview .step {
	opacity: 1;
	cursor: pointer;
}

.impress-not-supported .step {
	margin: 20px auto;
	opacity: 1;
	position: relative ;
}

.fallback-message {
	display: none;
	margin: 20px auto;
}

.impress-not-supported .fallback-message {
	display: block;
}

